@media (max-width: 1200px) {
	.button {
		&_call {
			width: 135px;
			height: 40px;    
		}
		&_pay {
			width: 200px;
			height: 50px;
			font-size: 14px;
		}
		&_prices {
			width: 145px;
			height: 40px;
			font-size: 11px;
		}
		&_call-footer {
			width: 140px;
			height: 40px;
			font-size: 11px;
		}
	}

	.delivery {
		&__header {
			justify-content: space-evenly;
		}
		&__header-logo {
			width: 6%;
		}
		&__header-menu {
			align-items: center;
		}
		&__header-item {
			padding: 0 6px;
		}
		&__header-link {
			font-size: 14px;
		}
		&__header-phone {
			font-size: 15px;
		}
		.title-global {
			font-size: 22px;
		}
		.title-delivery {
			font-size: 65px;
		}
		.title-subtitle {
			font-size: 36px;
		}
	}

	.prices {
		&__descr {
			font-size: 13px;
		}
	}

	.scheme {
		&__descr {
			font-size: 12px;
		}
	}


	.footer {
		&__header-contacts {
			margin-left: 50px;
		}
	}

}

@media (max-width: 991px) {
	.button {
		&_call {
			width: 117px;
			height: 35px;
			font-size: 9px;
		}
		&_pay {
			width: 160px;
			height: 40px;
			font-size: 12px;
		}
		&_call-footer {
			width: 120px;
			height: 35px;
			font-size: 10px;
		}
	}

	.title-orange {
		font-size: 15px;
		&_ourwork {
			font-size: 13px;
		}
		&_weigth {
			font-size: 25px;
		}
	}

	.line::before {
		margin-top: 10px;
	}

	.title {
		&_form {
			margin-top: 45px;
		}
	}

	.subtitle {
		font-size: 18px;
	}

	.form-consultation {
		&__wrapper {
			padding: 0 30px;
		}
		&__img {
			width: 14%;
			top: -48px;
		}
	}

	.delivery {
		&__header-logo {
			width: 10%;
		}
		&__header-link {
			font-size: 10px;
			font-weight: 300;
		}
		&__header-item {
			line-height: 1;
			text-align: center;
		}
		&__contacts {
			align-items: center;
		}
		&__contacts-wrapper {
			margin-right: 7px;
		}
		&__header-ask {
			font-size: 12px;
		}
		&__header-phone {
			font-size: 10px;
		}
		.title-global {
			font-size: 17px;
		}
		.title-delivery {
			font-size: 48px;
		}
		.title-subtitle {
			font-size: 25px;
		}
		&__img {
			margin-top: 50px;
		}
		&__wrapper {
			margin-top: 40px;
		}
		&__descr {
			font-size: 13px;
		}    
	}

	.advantages {
		padding-top: 30px;
		&__column {
			width: 48%;
		}
		&__item {
			align-items: flex-start;
			margin-top: 20px;
		}
		&__icon {
			margin-right: 0;
			&_mr {
				margin-right: 0;
			}
		}
		&__descr {
			line-height: 1.5;
			text-align: justify;
		}
	}
	
	.ourwork {
		padding-top: 25px;
		&__wrapper {
			margin-top: 30px;
		}
		&__descr {
			margin-top: 17px;
			font-size: 11px;
			text-align: justify;
		}
	}

	.agent {
		padding: 35px 0 31px 0;
	}

	.prices {
		min-height: 860px;
		padding-top: 35px;
		&__wrapper {
			margin-top: 25px;
		}
		&__item-title {
			font-size: 13px;
			padding: 10px 0;
		}
		&__descr {
			font-size: 12px;
			margin-top: 4px;
		}
		&__logo {
			width: 25%;
		}
	}

	.managers {
		padding: 58px 0 50px 0;
	}

	.scheme {
		padding-top: 30px;
		&__item {
			width: 25%;
		}
	}

	.reviews {
		padding: 28px 0 20px 0;
	}

	.footer {
		min-height: 640px;
		padding: 0;
		&__header-logo {
			width: 80px;
		}
		&__header-img {
			width: 100%;
		}
		&__header-descr {
			font-size: 12px;
		}
		&__header-ask {
			font-size: 12px;
		}
		&__header-phone {
			font-size: 15px;
		}
		&__header-contacts {
			margin: 0;
		}
	}
}

@media (max-width: 767px) {
	.button {
		&_call {
			width: 150px;
			height: 36px;		}
		&_prices {
			width: 100px;
			height: 30px;
			font-size: 10px;
		}
		&_pay {
			margin-top: 60px;
			width: 130px;
			font-size: 11px;
			height: 35px;
		}
		&_form-consultation {
			width: 160px;
			height: 42px;
			margin: 30px 0 0 -90px;
		}
		&_questions {
			width: 130px;
			height: 40px;
		}
		&_call-footer {
			width: 100px;
			font-size: 8px;
		}
	}

	.title {
		font-size: 20px;
		&_form {
			margin-top: 25px;
		}
		&_questions {
			font-size: 17px;
		}
	}

	.subtitle {
		font-size: 15px;
	}

	.title-orange {
		&_weigth {
			font-size: 14px;
		}
		&_ourwork {
			font-size: 11px;
		}
		&_scheme {
			font-size: 11px;
		}
	}

	.delivery {
		min-height: 540px;
		padding: 10px 0 82px 0;
		.hamburger {
			display: block;
			position: absolute;
			right: 15px;
			top: 7%;
			width: 44px;
			height: 33px;
			span {
				display: block;
				height: 4px;
				width: 100%;
				background-color: #ffffff;
				margin-bottom: 7px;
				transition: 0.5s all;
			}
			&_active {
				span {
					&:nth-child(1) {
						margin-top: 6px;
						transform: rotate(-45deg);
					}
					&:nth-child(2) {
						display: none;
					}
					&:nth-child(3) {
						margin-top: -11px;
						transform: rotate(45deg);
					}
				}
			}
		}
		&__header {
			justify-content: space-between;
		}
		&__header-logo {
			width: 16%;
		}
		&__header-menu {
			position: fixed;
			justify-content: center;
			align-items: center;
			top: 0;
			left: -100%;
			width: 50%;
			height: 100vh;
			padding: 20px;
			flex-direction: column;
			background-color: rgba(69, 63, 63, .95);
			transition: 0.6s all;
			z-index: 2;
			&_active {
				left: 0;
			}
		}
		&__header-item {
			padding: 7px;
			border: none;
			margin: 5px 0;
		}
		&__header-link {
			font-size: 18px;
		}
		&__contacts {
			flex-direction: column;
			margin-right: 51px;
		}
		&__header-ask {
			display: none;			
		}
		&__header-phone {
			font-size: 17px;
		}
		.title-global {
			font-size: 15px;
		}
		.title-delivery {
			margin-top: 10px;
			font-size: 35px;
		}
		.title-subtitle {
			font-size: 18px;
		}
		&__img {
			margin-top: 10px;
			width: 100%;
		}
		&__wrapper {
			margin-top: 10px;
		}
	}

	.prices {
		min-height: 720px;
		&__item-title {
			font-size: 10px;
		}
		&__descr {
			font-size: 10px;
			margin-top: 0px;
		}
		&__time-delivery {
			margin-top: 5px;
			font-size: 12px;
		}
	}

	.reviews {
		.carousel {
			&__inner {
				width: 100%;
			}	
		}
	}

	.advantages {
		&__item {
			flex-direction: column;
			align-items: center;
		}
		&__icon {
			margin: 0 auto;
		}
		&__descr {
			line-height: 1.3;
			text-align: center;
		}
	}

	.ourwork {
		min-height: 450px;
		padding: 51px 0 51px 0;		
		&__descr {
			text-align: center;
			line-height: 1.3;
		}
	}

	.form-consultation {
		padding-top: 48px;
		margin-top: 55px;
		&__wrapper {
			justify-content: space-between;
			input {
				width: 33%;
				height: 36px;
				font-size: 12px;
			}
		}
		&__img {
			width: 13%;
			top: -34px;
		}
	}

	.managers {
		min-height: 300px;
		padding: 30px 0 30px 0;
	}

	.scheme {
		min-height: 400px;
		&__wrapper {
			&_top {
				margin-top: 20px;
				align-items: baseline;
			}
			&_bottom {
				align-items: baseline;
			}
		}
		&__img {
			width: 25%;
		}
		&__descr {
			line-height: 1.2;
		}
	}

	.questions {
		min-height: 350px;
		padding: 25px 0 30px 0;
	}

	.form-questions {
		&__wrapper {
			input {
				width: 33%;
				height: 40px;
				font-size: 12px;
			}		
		}
		&__text {
			height: 60px;
		}				
	}

	.footer {
		min-height: 650px;
		&__header-img {
			width: 80%;
		}
		&__header-descr {
			font-size: 10px;
			width: 20%;
		}
	}
}

@media (max-width: 575px) {

	.delivery {
		padding: 10px 0 27px 0;;
		.hamburger {
			top: 5%;
		}
		&__header-logo {
			width: 13%;
		}
		&__wrapper {
			flex-direction: column;
			justify-content: space-between;
		}
		&__wrapper1, &__wrapper2 {
			width: 100%;
		}
		&__item {
			width: 50%;
		}
	}

	.advantages {
		&__wrapper {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		&__item {
			margin-top: 15px;
			&:first-child {
				margin-top: 15px;
			}
		}
	}

	.ourwork {
		&__wrapper {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		&__item {
			width: 80%;
			margin-top: 30px;
			&:first-child {
				margin-top: 0px;
			}
		}
		&__descr {
			font-size: 17px;
		}
	}		

	.scheme {
		&__wrapper_top, &__wrapper_bottom {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
		&__item {
			margin-top: 20px;
			width: 50%;
		}
		&__descr {
			font-size: 18px;
		}
	}

	.agent {
		&__logo {
			width: 16%;
		}
	}

	.prices {
		&__wrapper {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		&__wrapper1, &__wrapper2 {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__item {
			width: 40%;
			justify-content: space-between;
			padding-bottom: 15px;
		}
		&__item-title {
			padding: 5px 0;
		}
		&__logo {
			margin-top: 6px;
		}
		&__descr {
			font-size: 9px;
		}
	}

	.managers {
		&__img {
			width: 16%;
		}
	}

	.subtitle {
		font-size: 19px;
		font-weight: 400;
	}

	.title-orange {
		&_ourwork {
			font-size: 20px;
		}
		&_scheme {
			font-size: 19px;
		}
	}

	.button {
		&_call {
			font-size: 13px;
		}
		&_prices {
			margin-top: 10px;
			width: 80px;
			height: 20px;
		}
		&_form-consultation {
			width: 140px;
			height: 36px;
			margin: 20px 0 0 -70px;
		}
		&_questions {
			height: 30px;
			font-size: 11px;
		}
	}

	.form-consultation {
		margin-top: 36px;
		padding: 40px 0 38px 0;
		&__wrapper {
			input {
				height: 30px;
				font-size: 9px;
			}
		}
		&__img {
			width: 13%;
			top: -30px;
		}
	}

	.form-questions {
		&__wrapper {
			input {
				height: 30px;
				font-size: 9px;	
			}
		}
	}

	.footer {
		min-height: 610px;
		&__header-logo {
			width: 65px;
		}
		&__header-descr {
			display: none;
		}
	}
}