@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}

@import 'blocks/delivery';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/ourwork';
@import 'blocks/pseudo';
@import 'blocks/agent';
@import 'blocks/prices';
@import 'blocks/forms';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/questions';
@import 'blocks/footer';
@import 'base/media';