@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/delivery';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advantages';