.agent {
    min-height: 342px;
    padding: 58px 0 75px 0;
    background: url('../img/bgagent.jpg') center (center/cover) no-repeat;
    &__logo {
        display: block;;
        margin: 0 auto;
    }
}