.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &_pay {
        margin: 39px auto 0 auto;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
    }
    &_prices {
        margin-top: 25px;
        width: 160px;
        height: 45px;
        font-size: 12px;
        text-align: center;
        color: #ffffff;        
    }
    &_form-prices {
        width: 180px;
        height: 45px;
        position: absolute;
        left: 50%;
        margin: 30px 0px 0 -90px;
    }
    &_questions {
        margin: 17px auto;
    }
}