.button {
    width: 160px;
    height: 45px;
    background-color: $main-color;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &_pay {
        display: block;
        margin: 39px auto 0 auto;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
    }
}