.delivery {
    min-height: 680px;
    padding: 23px 0 82px 0;
    background: url("../img/bgdelivery.jpg") center (center/cover) no-repeat;
    &__header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .hamburger {
            display: none;
        }       
    }
    &__header-logo {
        width: 10%;
    }
    &__header-img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    &__header-menu {
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__header-item {
        border-right: 1px dotted white;
        padding: 0 14px;
        &:last-child {
            border-right: none;
        }
    }
    &__header-link {
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        &:hover {
            text-decoration: underline;
            color: $main-color;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
    }
    &__contacts-wrapper {
        margin-right: 19px;
    }
    &__header-ask {
        font-size: 14px;
        font-weight: 300;
        text-align: right;
        line-height: 1.26;
        color: #ffffff;
    }
    &__header-phone {
        display: block;
        font-size: 19px;
        font-weight: 700;
        text-align: right;
        line-height: 1.26;
        color: #ffffff;
    }
    &__img {
        width: 100%;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__wrapper1, &__wrapper2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 50%;
        margin-top: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        text-align: center;
        color: #ffffff;
    }    
}