.delivery {
    min-height: 680px;
    padding: 23px 0 82px 0;
    background: url('../../img/bgdelivery.jpg') center (center/cover) no-repeat;
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__header-menu {
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__header-item {
        border-right: 1px dotted white;
        padding: 0 14px;
        &:last-child {
            border-right: none;
        }
    }
    &__header-link {
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        &:hover {
            text-decoration: underline;
            color: $main-color;
        }
    }
    &__header-ask {
        font-size: 14px;
        font-weight: 300;
        text-align: right;
        line-height: 1.26;
        color: #ffffff;
    }
    &__header-phone {
        display: block;
        font-size: 19px;
        font-weight: 700;
        text-align: right;
        line-height: 1.26;
        color: #ffffff;
    }
    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 30px;
    }
    &__item {
        width: 262px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        text-align: center;
        color: #ffffff;
    }    
}