.delivery {
    min-height: 680px;
    padding: 23px 0 82px 0;
    background: url('../../img/bgdelivery.jpg') center (center/cover) no-repeat;
    &__img {
        display: block;
        margin: 0 auto;
        width: 809px;
        height: 10px;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        max-width: 262px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        text-align: center;
        color: #ffffff;
    }
}