.delivery {
    min-height: 680px;
    padding: 23px 0 82px 0;
    background: url('../../img/bgdelivery.jpg') center (center/cover) no-repeat;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__logo {
            display: inline-block;
            width: 96px;
            height: 100px;
            margin-right: 0px;
            img {
                height: 100%;
            }
        }
        &__menu {
            width: 600px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
            padding-left: 0;
            a {
                font-size: 15px;
                color: #ffffff;
                font-weight: normal;
                text-decoration: none;
            }
        }
        &__item {
            border-right: 2px dotted white;
        }
    }    
}