.form-consultation {
    position: relative;
    margin-top: 71px;
    border: solid 1px #898989;
    padding: 68px 0 53px 0;
    &__img {
        display: block;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__wrapper {
        display: flex;
        padding: 0 162px;
        input {
            width: 100%;
            height: 45px;
            border: solid 1px rgba(0, 0, 0, 0.21);
            border-radius: 40px;
        }
    }
}

.form-questions {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 18px 41px 25px 41px;
    background-color: #eeeeee;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
            width: 100%;
            height: 45px;
            border: solid 1px rgba(0, 0, 0, 0.21);
            border-radius: 40px;
        }    
    }
    &__text {
        resize: none;
        margin-top: 8px;
        height: 71px;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.21);
    }
}