.form-prices {
    width: 816px;
    margin: 68px auto;
    padding: 0;
}

.form-questions {
    display: flex;
    flex-direction: column;
    width: 896px;
    margin: 0 auto;
    padding: 18px 41px 25px 41px;
    background-color: #eeeeee;
}