.managers {
    min-height: 342px;
    padding: 58px 0 76px 0;
    background: url('../img/bgmanagers.jpg') center (center/cover) no-repeat;
    &__img {
        display: block;
        margin: 0 auto;
    }
}