.ourwork {
    min-width: 619px;
    padding: 51px 0 57px 0;
    &__wrapper {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 360px;
    }
    &__img {
        display: block;
    }
    &__descr {
        margin-top: 28px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        text-align: justify;
        color: #3a3a3a;
    }
}