.ourwork {
    min-height: 619px;
    padding: 51px 0 57px 0;
    &__wrapper {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        width: 30%;
    }
    &__img {
        width: 100%;
    }
    &__descr {
        margin-top: 28px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        text-align: center;
        color: #3a3a3a;
    }
}