.prices {
    min-height: 952px;
    padding: 53px 0 25px 0;
    &__wrapper {
        margin-top: 34px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        width: 265px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #e9e9e9;
    }
    &__item-title {
        padding: 22px 0 24px 0;
        width: 100%;
        height: 61px;
        background-color: #25333c;
        font-size: 16px;
        line-height: 1,44;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__logo {
        margin-top: 14px;
    }
    &__time-delivery {
        margin-top: 12px;
        font-size: 14px;
        line-height: 1.64;
        text-align: center;
        color: #2e2e2e;
    }
    &__descr {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        text-align: center;
        color: #2e2e2e;
    }
}