.questions {
    min-height: 438px;
    padding: 62px 0 79px 0;
    background: url('../img/bgquestions.jpg') center (center/cover) no-repeat;
    &__header {
        margin: 0 auto;
        background-color: #25333c;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }
}