.title-global {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
.title-delivery {
    margin-top: 26px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: $main-color;
}
.title-subtitle {
    margin-top: 9px;
    font-size: 42px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: $main-color2;
    text-transform: uppercase;
    &__descr {
        font-size: 16px;
        font-weight: bold;
        color: $main-color;
    }
}