.title-global {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
.title-delivery {
    margin-top: 26px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: $main-color;
}
.title-subtitle {
    margin-top: 9px;
    font-size: 42px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: $main-color2;
    text-transform: uppercase;
    &_advantages {
        font-size: 16px;
        font-weight: 700;
        color: $main-color;
    }
    &_ourwork {
        display: block;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: $main-color;
    }
    &_agent {
        margin-top: 20px;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
    }
    &_form {
        margin-top: 56px;
        font-size: 28px;
        text-align: center;
        color: #3a3a3a;
    }
    &_managers {
        margin-top: 20px;
        font-size: 26px;
        text-align: center;
        color: #ffffff;
    }
    &_scheme {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        color: $main-color2;
    }

}
.subtitle {
    margin-top: 17px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.14;
    text-align: center;
    color: $main-color2;
    &_agent {
        margin-top: 22px;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.42;
        text-align: center;
        color: #ffffff;
        text-transform: none;    
    }
    &_managers {
        margin-top: 18px;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.42;
        text-align: center;
        color: #ffffff;
    }    
    &_scheme {
        font-size: 16px;
        font-weight: 700;
        color: $main-color;
    }
}