.title-global {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
.title-delivery {
    margin-top: 26px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: $main-color;
}
.title-subtitle {
    margin-top: 9px;
    font-size: 42px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: $main-color2;
    text-transform: uppercase;
    &__descr {
        font-size: 16px;
        color: $main-color;
    }
    &_ourwork {
        display: block;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: $main-color;
    }
    &_subtitle {
        margin-top: 17px;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.14;
        text-align: center;
        color: $main-color2;
        &_white {
            margin-top: 22px;
            font-size: 19px;
            line-height: 1.42;
            text-align: center;
            color: #ffffff;    
        }
    }
    &_agent {
        margin-top: 20px;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
    }
}
