@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Thin'),
		url('../fonts/Roboto-Thin.woff2') format('woff2'),
		url('../fonts/Roboto-Thin.woff') format('wooff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Ligth'),
		url('../fonts/Roboto-Ligth.woff2') format('woff2'),
		url('../fonts/Roboto-Ligth.woff') format('wooff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Regular'),
		url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('wooff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Bold'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('wooff');
	font-weight: 700;
	font-style: normal;
}